/* 플로트메뉴 */
.float{
    text-align: center;
    position: fixed;
    right: 0; top: 35%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.float a{
    display: block;
    width: 90px; height: 100px;
    background: #fff;
    border-bottom: 1px solid #999;
    font-size: 14px;
}
.float a:last-child{
    border-bottom: none;
}
.float a img{
    margin-left: 25px; padding-top: 20px;
    display: block;
    width: 40px;
    margin-bottom: 5px;
}
.float a.float16{
    background: #3690ce;
    color: #fff;
}
.float a.floatmenu:hover{
    background: #b0d0e6;
}
