/* 원래style.css */
*{
    margin: 0; padding: 0;
}
a{ 
    text-decoration: none;
    color: #000;
}
ul, ol{
    list-style: none;
}
body{
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
}
/* container */
.container{
    width: 1200px;
    margin: 0 auto;
}
/* 헤더 */
#main_header{
    width: 100%;
    height: 82px;
    /* background: #ccc; */
}
#main_header h1{
    float: left;
    /* outline: 1px solid red; */
    margin-top: 15px;
}
#main_header h1 img{
    height: 50px;
}
/* 메인메뉴 */
#main_gnb .depth1 {
    margin-top: 27px;
    text-align: center;
    float: right;
    line-height: 30px;
}
#main_gnb .depth1 > li{
    position: relative;
    float: left;
    width: 130px;
    line-height: 30px;
    z-index: 10001;
}
#main_gnb .depth1 > li >a{
    width: 130px;
    display: block;
    margin-bottom: 15px;
    /* padding-bottom: 30px; */
    font-size: 18px;
    font-weight: bold;
    /* border-bottom: 3px solid #fff; */
    transition: 0.4s;
}

#main_gnb .depth1 > li >a::after{
    content: "";
    display: block;
    padding-top: 5px;
    width: 30px;
    height: 3px;
    background: #fff;
    background-clip: content-box;
    transition-duration: 0.5s;
    margin: 0 auto;
}
#main_gnb .depth1 > li:hover a::after{
    background: #3690ce;
    background-clip: content-box;
    width: 100px;
}


#main_gnb .depth1  li a:hover{
    color: #3690ce;
}
#main_gnb .depth2{
    padding-top: 10px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 14px;
    /* border-right: 1px solid #ccc; */
    transition: 0.4s;
}
#main_gnb .depth2.show{
    height: 200px;
    overflow: hidden;
}
#main_gnb .depth2 a{
    display: block;
}
#ex{
    position: absolute;
    top: 75px;
    width: 100%;
    height: 0;
    background: #fff;
    z-index: 10000;
    transition: 0.4s;
    /* border-top: 3px solid #ccc; */
  }
  #ex.show {
      height: 220px;
      background: #fff;
  }

/* 배너영역 */
#main_banner{
    width: 100%;
}
#main_banner img{
    width: 100%;
}
/* 서브정보 */
#sub_info{
    margin-top: 50px;
}
#sub_info .col1{
    float: left;
    width: 363px; height: 124px;
    /* outline: 1px solid red; */
}
#sub_info .col{
    float: left;
    width: 165px; height: 124px;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 20px;
    border-left: 1px solid #ccc;
}
#sub_info .col .sub_name{
    display: inline-block;
    margin-top: 85px;
}
#sub_info .col:hover a{
    color: #3690ce;
}
#sub_info .col1 .box{
    display: inline-block;
    width: 50px; height: 40px;
    background: #3690ce;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    line-height: 19px;
    font-size: 18px;
    padding: 5px 0;
    margin: 25px 0 0 30px;
}
#sub_info .col1 span{
    color: #3690ce;
    font-size: 40px;
    font-weight: bolder;
    padding-left: 10px;
}
#sub_info .col1 .time{
    font-size: 14px;
    margin-left: 31px;
    margin-top: 5px;
}
#sub_info .col img{
    margin-top: 15px;
}
/* col배경 및 호버 */
.col2{ background-image: url(../images/sub_info1.jpg);}
.col2:hover{ background-image: url(../images/sub_info1-1.jpg); }
.col3{ background-image: url(../images/sub_info2.jpg); }
.col3:hover{ background-image: url(../images/sub_info2-1.jpg); }
.col4{ background-image: url(../images/sub_info3.jpg); }
.col4:hover{ background-image: url(../images/sub_info3-1.jpg); }
.col5{ background-image: url(../images/sub_info4.jpg); }
.col5:hover{ background-image: url(../images/sub_info4-1.jpg); }
.col6{ background-image: url(../images/sub_info5.jpg); }
.col6:hover{ background-image: url(../images/sub_info5-1.jpg); }
/* 메인 컨텐츠 */
#main_contents{
    padding-top: 50px;
    clear: both;
}
#main_contents .con1{
    width: 1200px; height: 300px;
    border: 1px solid #ccc;
    background: url('../images/promise2.jpg') no-repeat;
}
#main_contents .con1 p{
    color: #3690ce;
    margin: 50px 0 5px 40px;
}
#main_contents .con1 span{
    font-size: 34px;
    font-weight: bold;
    margin-left: 40px;
}
#main_contents .con1 a{
    text-align: center;
    line-height: 40px;
    display: block;
    width: 150px;
    height: 40px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-left: 40px;
    margin-top: 70px;
}
#main_contents .con1 a:hover{
    background: rgba(255, 255, 255, 0.7);
}
#main_contents .con{
    margin-top: 50px;
    float: left;
    width: 390px; height: 300px;
    /* border: 1px solid red; */
    background: #ccc;
    margin-right: 15px;
    text-align: center;
}
#main_contents .con:last-child{
    margin-right: 0;
}
#main_contents .con > span{
    margin-top: 120px;
    display: inline-block;
    color: #fff;
}
#main_contents .con > a > p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    /* line-height: 300px; */
}
#main_contents .con2{
    background-image: url(../images/con1.jpg);
}
#main_contents .con3{
    background-image: url(../images/con2.jpg);
}
#main_contents .con4{
    background-image: url(../images/con3.jpg);
}
#main_contents .con2:hover{
    text-shadow: 1px 1px 3px black;
    background-image: url(../images/con1-1.jpg);
}
#main_contents .con3:hover{
    text-shadow: 1px 1px 3px black;
    background-image: url(../images/con2-1.jpg);
}
#main_contents .con4:hover{
    text-shadow: 1px 1px 3px black;
    background-image: url(../images/con3-1.jpg);
}
/* 센터목록 */
#center{
    clear: both;
    padding-top: 50px;
}
#center .center_wrap{
    background: rgb(246, 246, 246);
    margin: 0 auto;
    width: 1200px;
    height: 100px;
    border: 1px solid #3690ce;
}
#center .center{
    display: inline-block;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
    width: 299px;
    height: 100px;
    float: left;
    border-right: 1px solid #ccc;
}
#center .center:last-child{
    width: 300px;
    border: 0;
}
#center .center:hover{
    color: #fff;
    background: #3690ce;
}
/* 게시판 */
.line{
    display: block;
    width: 100px;
    margin-left: 230px;
    margin-bottom: 20px;
    border-bottom: 3px solid #3690ce;
}
#board{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 100px;
}
.notice{
    float: left;
    margin-top: 50px;
    text-align: center;
    width: 560px;
    padding: 0 20px;
}
.notice h2, .review h2{
    padding: 10px 0;
}
.notice ul{
    width: 450px;
    margin: 0 auto;
    text-align: left;
}
.notice ul li{
    line-height: 45px;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.notice ul li .date{
    float: right;
    color: #999999;
    font-size: 14px;
}
.review{
    margin-top: 50px;
    text-align: center;
    width: 560px;
    padding: 0 20px;
    float: right;
}
.review ul{
    margin: 0 auto;
    width: 450px;
    /* border: 1px solid red; */
    text-align: left;
}
.review ul li{
    margin-bottom: 10px;
}
.review ul a{
    display: block;
}
.review ul .text{
    margin-left: 10px;
    margin-top: 3px;
    display: block;
    height: 43px;
    font-size: 14px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
/* 아래베너 */
#bottom{
    position: relative;
    clear: both;
    /* outline: 1px solid red; */
    max-width: 1920px; 
    min-width: 1200px;
    height: 500px;
    margin: 0 auto;
    background-image: url("../images/buttom.jpg");
    overflow: hidden;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#bottom .text{
    color: #fff;
    text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%; 
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2.5em;
}
#bottom .text h2{
    font-weight: normal;
    font-size: 30px;
}
#bottom .text p{
    font-size: 20px;
}
#bottom .button{
    /* outline: 1px solid green; */
    position: absolute;
    left: 48%; 
    top: 64%;
    transform: translate(-50%, -50%);
}
#bottom .button a{
    border: 2px solid #fff;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 50px;
    color: #fff;
}
#bottom .button a:hover{
    background: rgba(255, 255, 255, 0.5);
    color: #000;
}
#bottom .button a i{
    padding-left: 10px;
}
/* 푸터 */
#main_footer{
    margin-top: 100px;
    padding-bottom: 50px;
    background: #fafafa;
}
#main_footer .f_line{
    width: 100%;
    height: 1px;
    display: block;
    background: #ccc;
}
#main_footer .linet{
    margin-bottom: 40px;
}
#main_footer .container{
    margin-bottom: 55px;
}
#main_footer .container li{
    float: left;
    width: 20%;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
}
#main_footer .container li:last-child{
    border-right: 1px solid #ccc;
}
#main_footer .container li a{
    color: #817a81;
    display: block;
    padding: 15px 20px;
}
#main_footer .container li:hover{
    background: rgb(238, 238, 238);
}
#main_footer .container li a span{
    float: right;
    color: #817a81;
}
#main_footer .footer_wrap{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
#main_footer .footer_wrap span{
    padding: 0 20px;
    color: rgb(235, 235, 235);
}
#main_footer .footer_wrap .big{
    display: block;
    font-weight: bold;
    padding-bottom: 15px;
}
#main_footer .footer_wrap p{
    display: inline-block;
    color: rgb(180, 180, 180);
}
#main_footer .footer_wrap .icon{
    position: absolute;
    top: 15px;
    right: 0;
}
#main_footer .footer_wrap .icon img{
    border: 1px solid #ccc;
    border-radius: 3000px;
    margin: 0 10px;
    padding: 5px 5px;
}
#main_footer .footer_wrap .copy{
    display: block;
    padding-top: 20px;
}
#main_footer .footer_wrap .black{
    padding: 0;
    color: #888;
}
#main_footer .footer_wrap .phone{
    position: absolute;
    right: 0;
    bottom: -7px;
}
#main_footer .footer_wrap .phone .number{
    margin-left: 10px;
    font-size: 30px;
    color: #888;
    font-weight: bold;
    padding: 0;
}



/* bxslider */
.bx-wrapper{
    border: none !important;
    box-shadow: none !important;
}
.bx-pager{
    bottom: 20px !important;
}
.bx-wrapper .bx-controls-direction a{
    width: 55px !important;
    height: 55px !important;
}
.bx-wrapper .bx-next{
    background: url('../images/control2-4.png') no-repeat !important;
}
.bx-wrapper .bx-prev{
    background: url('../images/control1-4.png') no-repeat !important;
}

